:root {
	--white-text: #fff;
	--black-text: #000;
	--tag-codycolor: #209135;
    --tag-codytext: '👑 Animal Crossing Overlord';
	--tag-josephcolor: #ab562c;
    --tag-josephtext: 'Fortnite Playboy';
	--tag-falconcolor: #cfcd3a;
    --tag-falcontext: 'R.O.B. Caretaker';
	--tag-brandoncolor: #238158;
    --tag-brandontext: 'The Pro Gamer';
	--tag-beancolor: #f91010;
    --tag-beantext: 'CTGP Creator';
	--tag-genesycolor: #4011fb;
    --tag-genesytext: 'ACNH.Guide Dev';
	--tag-pablocolor: #5a10f9;
    --tag-pablotext: 'CTGP-7 Creator';
	--tag-nfgcolor: #640b75;
    --tag-nfgtext: 'Nintendo Fan Girl';
}

/* Cody's Badge */
.avatar-2e8lTP[src*="79738050996862976"] + h3 > span.timestamp-p1Df1m::before {
	color: var(--black-text) !important;
	background: var(--tag-codycolor) !important;
	content: var(--tag-codytext);
	font-size: .8em;
	font-weight: bold;
	height: 2.28em;
	padding: .072rem .275rem;
	border-radius: 3px;
	text-transform: uppercase;
	vertical-align: baseline;
	margin-right: .50rem;
	margin-left: -.25rem;
}
.avatar-2e8lTP[src*="79738050996862976"] + h3.header-2jRmjb {
	content: var(--tag-codytext);
	color: var(--tag-codycolor) !important;
}
    
/* Joseph's Badge */
.avatar-2e8lTP[src*="129056956374712320"] + h3 > span.timestamp-p1Df1m::before {
	color: var(--white-text) !important;
	background: var(--tag-josephcolor) !important;
	content: var(--tag-josephtext);
	font-size: .8em;
	font-weight: bold;
	height: 2.28em;
	padding: .072rem .275rem;
	border-radius: 3px;
	text-transform: uppercase;
	vertical-align: baseline;
	margin-right: .50rem;
	margin-left: -.25rem;
}
.avatar-2e8lTP[src*="129056956374712320"] + h3.header-2jRmjb {
	content: var(--tag-josephtext);
	color: var(--tag-josephcolor) !important;
}
    
/* Falcon's Badge */
.avatar-2e8lTP[src*="92816882226176000"] + h3 > span.timestamp-p1Df1m::before {
	color: var(--black-text) !important;
	background: var(--tag-falconcolor) !important;
	content: var(--tag-falcontext);
	font-size: .8em;
	font-weight: bold;
	height: 2.28em;
	padding: .072rem .275rem;
	border-radius: 3px;
	text-transform: uppercase;
	vertical-align: baseline;
	margin-right: .50rem;
	margin-left: -.25rem;
}
.avatar-2e8lTP[src*="92816882226176000"] + h3.header-2jRmjb {
	content: var(--tag-falcontext);
	color: var(--tag-falconcolor) !important;
}
    
/* Brandon's Badge */
.avatar-2e8lTP[src*="83786687636836352"] + h3 > span.timestamp-p1Df1m::before {
	color: var(--black-text) !important;
	background: var(--tag-brandoncolor) !important;
	content: var(--tag-brandontext);
	font-size: .8em;
	font-weight: bold;
	height: 2.28em;
	padding: .072rem .275rem;
	border-radius: 3px;
	text-transform: uppercase;
	vertical-align: baseline;
	margin-right: .50rem;
	margin-left: -.25rem;
}
.avatar-2e8lTP[src*="83786687636836352"] + h3.header-2jRmjb {
	content: var(--tag-brandontext);
	color: var(--tag-brandoncolor) !important;
}

/* Bean's Badge */
.avatar-2e8lTP[src*="233675688522153985"] + h3 > span.timestamp-p1Df1m::before {
	color: var(--white-text) !important;
	background: var(--tag-beancolor) !important;
	content: var(--tag-beantext);
	font-size: .8em;
	font-weight: bold;
	height: 2.28em;
	padding: .072rem .275rem;
	border-radius: 3px;
	text-transform: uppercase;
	vertical-align: baseline;
	margin-right: .50rem;
	margin-left: -.25rem;
}
.avatar-2e8lTP[src*="233675688522153985"] + h3.header-2jRmjb {
	content: var(--tag-beantext);
	color: var(--tag-beancolor) !important;
}

/* Chadderz's Badge */
.avatar-2e8lTP[src*="254567795092619264"] + h3 > span.timestamp-p1Df1m::before {
	color: var(--white-text) !important;
	background: var(--tag-beancolor) !important;
	content: var(--tag-beantext);
	font-size: .8em;
	font-weight: bold;
	height: 2.28em;
	padding: .072rem .275rem;
	border-radius: 3px;
	text-transform: uppercase;
	vertical-align: baseline;
	margin-right: .50rem;
	margin-left: -.25rem;
}
.avatar-2e8lTP[src*="254567795092619264"] + h3.header-2jRmjb {
	content: var(--tag-beantext);
	color: var(--tag-beancolor) !important;
}

/* GeneSy's Badge */
.avatar-2e8lTP[src*="86143599288283136"] + h3 > span.timestamp-p1Df1m::before {
	color: var(--white-text) !important;
	background: var(--tag-genesycolor) !important;
	content: var(--tag-genesytext);
	font-size: .8em;
	font-weight: bold;
	height: 2.28em;
	padding: .072rem .275rem;
	border-radius: 3px;
	text-transform: uppercase;
	vertical-align: baseline;
	margin-right: .50rem;
	margin-left: -.25rem;
}
.avatar-2e8lTP[src*="86143599288283136"] + h3.header-2jRmjb {
	content: var(--tag-genesytext);
	color: var(--tag-genesycolor) !important;
}

/* Pablo's Badge */
.avatar-2e8lTP[src*="183210046212145152"] + h3 > span.timestamp-p1Df1m::before {
	color: var(--white-text) !important;
	background: var(--tag-pablocolor) !important;
	content: var(--tag-pablotext);
	font-size: .8em;
	font-weight: bold;
	height: 2.28em;
	padding: .072rem .275rem;
	border-radius: 3px;
	text-transform: uppercase;
	vertical-align: baseline;
	margin-right: .50rem;
	margin-left: -.25rem;
}
.avatar-2e8lTP[src*="183210046212145152"] + h3.header-2jRmjb {
	content: var(--tag-pablotext);
	color: var(--tag-pablocolor) !important;
}

/* NintendoFanGirl's Badge */
.avatar-2e8lTP[src*="223651605122121728"] + h3 > span.timestamp-p1Df1m::before {
	color: var(--white-text) !important;
	background: var(--tag-nfgcolor) !important;
	content: var(--tag-nfgtext);
	font-size: .8em;
	font-weight: bold;
	height: 2.28em;
	padding: .072rem .275rem;
	border-radius: 3px;
	text-transform: uppercase;
	vertical-align: baseline;
	margin-right: .50rem;
	margin-left: -.25rem;
}
.avatar-2e8lTP[src*="223651605122121728"] + h3.header-2jRmjb {
	content: var(--tag-nfgtext);
	color: var(--tag-nfgcolor) !important;
}
