:root {
	--white-text: #fff;
	--black-text: #000;
	--tag-codycolor: #209135;
    --tag-codytext: '👑 Animal Crossing Overlord';
	--tag-josephcolor: #c7561a;
    --tag-josephtext: '🧑‍⚖ Ace Attorney';
	--tag-falconcolor: #cfcd3a;
    --tag-falcontext: '🤖 R.O.B. Caretaker';
	--tag-brandoncolor: #238158;
    --tag-brandontext: 'The Pro Gamer';
	--tag-beancolor: #f91010;
    --tag-beantext: 'CTGP Creator';
	--tag-genesycolor: #4011fb;
    --tag-genesytext: 'ACNH.Guide Dev';
	--tag-pablocolor: #5a10f9;
    --tag-pablotext: 'CTGP-7 Creator';
	--tag-nfgcolor: #640b75;
    --tag-nfgtext: 'Nintendo Fan Girl';
}
